@import '../../../styles/variable';

.approachContainer {
  padding: 70px var(--wrapspace);

   @media(max-width:768px){
    padding:10px var(--wrapspace) 40px ;
  }
}

.container {
  max-width: calc(var(--wrap) + (var(--wrapspace) * 2));
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 3rem;

 @media (max-width: 1040px) {
    gap: 1rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.left {
  width: 48%;
  position: sticky;
   top: 100px;
   height: fit-content;
    position: static; 
  align-self: flex-start;

  @media(max-width:768px){
    width:100%;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 40px;
    font-weight: 500;

      @media(max-width:768px){
            font-size: 30px;
        }

    span {
      color: $orange-color;
      font-weight: 700 !important;
    }
  }

  p {
    width: 90%;
    margin-top: 35px;
    font-size: 16px;
    color: $border-color;
    line-height: 26px;

    @media (max-width: 900px) {
      width: 95%;
    }

    @media (max-width: 780px) {
      width: 100%;
    }
  }
}

.right {
  width: 50%;

   @media(max-width:768px){
    width:100%;
    
  }
}

.accordionItem {
    
  border: 1px solid #f1f1f1;
  border-radius: 16px;
  transition: all 0.3s ease;
  margin-bottom: 20px;
  padding: 10px 20px;

   @media(max-width:480px){
      padding: 0px 10px;
  }

  &.active {
    border-color: $orange-color;

    .accordionHeader h3 {
        font-size: 22px;
        font-weight: 500;
      color: $orange-color;
    }

    .icon {
      transform: rotate(180deg);
    
    }
  }
}

.accordionHeader {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;

  h3 {
    font-size: 18px;
    margin: 0;
    color: #333;
    transition: color 0.3s;
  }

  .icon {
    transition: transform 0.3s;
    color: $orange-color;
  }
}

.accordionContent {
  padding: 1rem;
  border-top: 1px solid #ececec;

  @media(max-width:480px){
    padding:0.8rem 0.5rem;
  }

  p {
    margin: 0;
    color: #444;
    line-height: 1.6;
  }
}
