@import "../../../../styles/variable";

.mainContainer{
    background: #EFF4FF;
    padding: 30px;
    border-radius: 20px;
}
.innerHeading {
  font-size: 26px;
  font-weight: 600;

  @media(max-width:1200px){
    font-size: 20px;
  }
}

.description {
  font-size: 18px;
  line-height: 32px;
  padding:30px 0px;

  @media(max-width:1200px){
    font-size: 20px;
     padding:20px 0px;
  }
}

.linksGrid { 
  font-weight: 600;
  text-decoration: underline;
  width:80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
   gap: 15px; 
   
   @media(max-width:768px){
    width:90%;
   }

   @media(max-width:480px){
    width:100%;
    grid-template-columns: repeat(1, 1fr);
   }

  a{
     font-size: 22px;
     line-height: 30px;

     &:hover{
    color: $orange-color;
    text-underline: $orange-color;
  }
  }
}


