@import '../../../styles/variable';

.mainContainer {
  padding: 40px var(--wrapspace);
}

.card {
  max-width: calc(var(--wrap) + (var(--wrapspace) * 2));
  width: 100%;
  margin: 0 auto;
  padding-bottom:40px;
  border-bottom: 1px solid $border-color;
}

.header{
    .label{
        color: $orange-color;
        font-weight: 600;
        font-size:18px;

        @media(max-width:768px){
          font-size: 16px;
        }
      }

    h1 {
      font-size: 45px;
      line-height: 70px;
      font-weight: 700;
      padding-bottom: 40px;

      @media (max-width: 768px) {
        padding-bottom: 30px;
      }

      span{
        color: $orange-color;
        font-weight: 600;
      }
      
      @media (max-width: 1400px) {
        font-size: 40px;
      }

      @media (max-width: 768px) {
        font-size: 30px;
        line-height: 40px;
      }

      @media (max-width: 480px) {
        font-size: 22px;
        line-height: 30px;
      }
    }
}

.imageWrapper {
  width: 100%;
  margin-bottom: 30px;
  

  img {
    width: 100%;
    border:2px solid #ccc;
    border-radius: 8px;
    object-fit: cover;
  }
}

.infoGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  padding-top: 2rem;

  @media(max-width:480px){
      gap:1.5rem;
      padding-top:1rem;
    }
  

  > div {
    width: calc(25% - 1.5rem);
    min-width: 220px;

 
    @media(max-width:480px){
      min-width: 150px;
    }
   

    span.metaLabel {
      display: block;
      font-size: 16px;
      font-weight: 600;
      color: $blue-color;
      margin-bottom: 0.5rem;
      letter-spacing: 0.05em;
    }

    p,
    a {
      display: inline-flex;
      align-items: center; 
      font-size: 18px;
      color: #111;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        color:$orange-color;
      }

      svg {
        margin-left: 0.25rem;
        vertical-align: middle;
      }
    }
  }
}


@media (max-width: 768px) {
  .header {
    .title {
      font-size: 24px;

      .icon {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 480px) {
  .mainContainer {
    padding: 24px 16px;
  }

  .header {
    .title {
      font-size: 20px;
    }
  }
}
