@import '../../../styles/variable';

.statsSection {
  background-color: $blue-color;
  text-align: center;
  color: $white-color;
  width: 100%;
}

.mainContainer {
  max-width: calc(var(--wrap) + (var(--wrapspace) * 2));
  width: 100%;
  margin: 0 auto;
  padding: 80px var(--wrapspace);

  @media (max-width: 768px) {
    padding: 60px 16px;
  }

  @media (max-width: 480px) {
    padding: 40px 16px;
  }
}

.heading {
  width: 100%;
  font-size: 45px;
  font-weight: 400;
  line-height: 68px;

  span {
    color: $orange-color;
    font-weight: 600;
  }

  @media (max-width: 1440px) {
    font-size: 40px;
    line-height: 52px;
  }

  @media (max-width: 768px) {
    font-size: 32px;
  }

  @media (max-width: 480px) {
    font-size: 26px;
    line-height: 38px;
  }
}

.subtext {
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 45px;

  @media (max-width: 768px) {
    font-size: 1rem;
  }

  @media (max-width: 480px) {
    font-size: 0.95rem;
  }
}

.statsRow {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  @media (max-width: 1180px) {
    flex-wrap: wrap;
  }

  @media (max-width: 768px) {
    justify-content: center;
    gap: 20px;
  }
}

.statCard {
  width: 25%;
  min-width: 200px;
  padding-right: 30px;
  

  h3 {
    font-size: 60px;
    line-height: 95.62px;
    font-weight: 700;

    @media (max-width: 1440px) {
      font-size: 50px;
      line-height: 65px;
    }

    @media (max-width: 768px) {
      font-size: 40px;
      line-height: 60px;
    }

    @media (max-width: 480px) {
      font-size: 32px;
      line-height: 48px;
    }
  }

  p {
    font-size: 20px;
    line-height: 27.32px;
    font-weight: 500;
    margin-top: 6px;

    @media (max-width: 768px) {
      font-size: 16px;
    }

    @media (max-width: 480px) {
      font-size: 15px;
    }
  }

  @media (max-width: 991px) {
    width: 45%;
    padding-right: 0;
  }

  @media (max-width: 576px) {
    width: 100%;
    padding-right: 0;
  }
}


.withBorder {
  border-right: 2px solid rgba(255, 255, 255, 0.21);

  @media (max-width: 991px) {
    border-right: none;
  }
}
