@import "../../../styles/variable";

.industriesSection {
  max-width: calc(var(--wrap) + (var(--wrapspace) * 2));
  width: 100%;
  margin:0 auto;
  padding: 2rem var(--wrapspace);

  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    align-items: start;

    @media (max-width: 900px) {
      grid-template-columns: 1fr;
    }

    .left {
      h2 {
        font-size: 3rem;
        font-weight: 600;

        @media(max-width:900px){
          font-size:2.3rem;
        }

        span {
          color: $orange-color;
        }
      }

      p {
        margin-top: 1rem;
        font-size: 1.1rem;
        line-height: 1.6;
      }

      .contactBtn {
        margin-top: 2rem;
        padding: 12px 34px;
        font-size: 1rem;
        background-color: $orange-color;
        color: #fff;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
          background-color: $blue-color;
        }
      }
    }

    .gridWrapper {
      .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        gap: 1.3rem;

        .card {
          display: grid;
          place-items: center; 
          // background-color: #E8E8E8;
          border: 1px solid #E8E8E8;
          border-radius: 12px;
          padding: 35px 0px;
          transition: all 0.3s ease;
          cursor: pointer;

          .icon {
              font-size: 60px; 
              color: #9D9D9D;
              margin-bottom: 10px;
              transition: color 0.3s ease;             
          }

          img {
            height: 60px;
            margin-bottom: 10px;

          }

          p {
            color: #9D9D9D;
            font-size: 1.2rem;
            transition: color 0.3s;
          }

          &:hover {
            background-color: $orange-color;

            .icon{
              color:white;
            }

            p {
              color: #fff;
            }
          }
        }
      }
    }
  }
}
