$orange-color: #ff5141;
$white-color: #fff;
$black-color: #000000;
$border-color: #333333;
$blue-color: #0d2541;
$gradient-blue: linear-gradient(90deg, #0d2541 0%, #39679d 100%);

// width //
$wrap: 1600px;
$wrapspace: 30px;
