@import "./variable";
@import "./font";
:root {
  --wrap: 1600px;
  --wrapspace: 30px;
  --paddingTopBottom:15px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Manrope";
  background-color: $white-color;
  color: #111;
  scroll-behavior: smooth;
  margin: 0px !important;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

button {
  cursor: pointer;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar (optional) */
::-webkit-scrollbar {
  width: 6px;
  height: 3px;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}
.container {
  max-width: calc(var(--wrap) + var(--wrapspace) * 2);
  width: 100%;
  margin: 0 auto;
}