@import '../../../styles/variable';

.hero {
  background-color: $white-color;
  padding: 100px 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;

  @media (max-width: 768px) {
    padding: 60px 20px; // 👈 Reduced top & bottom padding for mobile
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .heading {
    font-size: 70px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #000;

    @media (max-width: 768px) {
      font-size: 2.2rem;
    }
  }

  .highlight {
    color: $orange-color;
    font-weight: 700;
    display: inline-block;
    font-size: 3.2rem;

    @media (max-width: 768px) {
      font-size: 2.5rem;
    }
  }

  .description {
    font-size: 20px;
    max-width: 700px;
    margin: 0 auto 3rem;
    color: #333;

    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }

  .contactBtn {
    display: inline-block;
    padding: 0.75rem 2rem;
    border: 1px solid $orange-color;
    color: #000;
    border-radius: 12px;
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      background-color: $orange-color;
      color: $white-color;
    }
  }
}
